.description {
  list-style: none;
}

.info {
  margin: 0;
  padding: 0;
  width: 800px;

  white-space: pre-wrap;
}

.item {
  display: flex;
  margin-bottom: 10px;
}

span {
  width: 300px;

  color: rgba(0, 0, 0, 0.4);
}

.author {
  margin-left: 16px;
  margin-right: auto;
}

.date {
  text-align: right;
}
