.description {
  list-style: none;
}

.info {
  white-space: pre-wrap;
  width: 90%;
}

.item {
  width: 240px;
  margin-bottom: 10px;

  color: #9ca4ad;
  opacity: 0.6;
}

span {
  width: 300px;
  color: #9ca4ad;
}

.author {
  margin-left: 16px;
  margin-right: auto;
}

.date {
  text-align: right;
}

@media screen and (min-width: 420px) {
  .item {
    display: flex;
    width: 360px;
  }
}

@media screen and (min-width: 560px) {
  .item {
    width: 480px;
  }
}

@media screen and (min-width: 865px) {
  .item {
    width: 640px;
  }
}
