.description {
  list-style: none;
}

.info {
  margin: 0;
  padding: 0;
  width: 800px;
}

.item {
  display: flex;
  margin-bottom: 10px;
}

span {
  width: 300px;
  margin-right: 20px;

  color: rgba(0, 0, 0, 0.4);
}
