.list {
  display: grid;
  max-width: calc(100vw - 64px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 32px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: 64px;
  margin-right: auto;
}

.castImg {
  width: 300px;
  height: 400px;

  border-radius: 7%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
