.movieList {
  display: grid;
  max-width: calc(100vw - 64px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: 64px;
  margin-right: auto;
}

.Heading {
  text-align: center;
  margin-bottom: 32px;
  color: #9ca4ad;
}

.title:visited {
  text-decoration: none;
}

.movieItem {
  position: relative;
}

.container {
  padding-top: 100px;
}
