.movieList {
  display: grid;
  max-width: calc(100vw - 156px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: 64px;
  margin-right: auto;
}

.Heading {
  text-align: center;
  margin-bottom: 32px;
  color: #9ca4ad;
}

.title:visited {
  text-decoration: none;
}

.movieItem {
  position: relative;
  border-radius: 7%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.container {
  padding-top: 100px;
}
