
.popularListSector {
  padding-top: 100px;
}


.movieListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieListContainer > button {
  width: 150px;
}

.Heading {
  margin-bottom: 32px;
  color: #9ca4ad;
}

 @media screen and (min-width: 740px) {
  .movieList {
    display: grid;
    max-width: calc(100vw - 64px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 340px));
    grid-gap: 32px;
  }
} 