.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  border-radius: 4px;
}
.title {
  margin-top: 16px;

  font-weight: 500;
  color: #9ca4ad;
  opacity: 0.6;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  margin-bottom: 32px;

  padding-bottom: 32px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list {
  margin-top: 16px;
}

.item > a {
  letter-spacing: 0.02em;
  color: #9ca4ad;
  opacity: 0.6;
  text-decoration: none;
}

.item > a:visited {
  text-decoration: none;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.button {
  width: 120px;
  position: fixed;
  display: inline-block;

  padding: 10px;

  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  font-weight: 500;
  font-size: 20px;

  background-color: #3e3e40;
  color: #9ca4ad;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button:hover {
  opacity: 1;
}

@media screen and (min-width: 740px) {
  .section {
    padding-left: 64px;
  }
}

.addInfo {
  padding-bottom: 32px;
  padding-left: 64px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
