.description {
  margin-top: 16px;
  list-style: none;
}

.info {
  margin: 0;
  padding: 0;
  width: 800px;

  color: #9ca4ad;
  opacity: 0.6;
}

.item {
  display: flex;
  margin-bottom: 16px;
  padding-left: 16px;
}

span {
  width: 300px;

  color: #9d2658;
}
