.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;

  font-weight: 500;
  font-size: 20px;
  color: #9ca4ad;
}

.activeLink {
  composes: link;
  color: #9d2658;
}

@media screen and (min-width: 740px) {
  .container {
    margin-left: 44px;
  }
}

nav {
  position: fixed;
  z-index: 100;
  width: 100vw;

  background-color: #3e3e40;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
