.SearchForm {
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 600px;
    margin-left: 20px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  
  .SearchFormInput {
    display: inline-block;
    width: 100%;
    background-color: #3e3e40;
    color: #9ca4ad;
    font: inherit;
    font-size: 26px;
    border: 0;
  
    padding-left: 4px;
    padding-right: 4px;
  
    margin-right: 10px;
  }
  
  .SearchFormInput::placeholder {
    font: inherit;
  
    font-size: 18px;
  }