.description {
  margin-top: 32px;
  list-style: none;
}

.info {
  width: 200px;
  max-width: 800px;
  color: #9ca4ad;
  opacity: 0.6;
}

.item {
  display: flex;
  margin-bottom: 20px;
}

.tag {
  color: #9d2658;

  font-weight: 400;
  font-size: 18px;
  width: 80px;
}

@media screen and (min-width: 741px) {
  .info {
    width: 400px;
  }
}

@media screen and (min-width: 977px) {
  .tag {
    width: 150px;
  }
  .info {
    width: 500px;
  }
}
