.description {
  margin-top: 16px;
  list-style: none;
}

.info {
  margin: 0;
  padding: 0;
  width: 800px;
}

.item {
  display: flex;
  margin-bottom: 20px;
}

span {
  width: 150px;

  color: rgba(0, 0, 0, 0.4);
}
